<% provide(:title, "Log in") %>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  <script src="jquery-3.3.1.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
    </ul>
  </div>
</nav>
<div class="large_content" style="background-position: 30% 37%">
  <h1>Log In</h1>
</div>

<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
       
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: 'bottominput' %>

      <div>
        <p></p>  <!-- Intentionally left blank to add space before the log in button -->
      </div>
      <%= f.submit "Log in", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
    <br>
    <a href="/tutorsignup" class="defaultlink">New User? Sign up now!</a>
  </div>

</body>