<% provide(:title, "Log in") %>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  <script src="jquery-3.3.1.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href="/about">About</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
           <% if logged_in? %>
          <li><%= link_to "Tutors", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_tutor %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <!--<li>-->
              <!--  < %= link_to "Log out", logout_path, method: :delete %>-->
              <!--</li>-->
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        <% end %>
        </ul>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
      </div>
    </nav>
<div class="large_content">
  <h1>Log In</h1>
</div>

<<<<<<< HEAD
=======


>>>>>>> fc760c55c61c171eee74f8a419a5512f88619ae1
<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
       
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: 'bottominput' %>

      <div>
        <p></p>  <!-- Intentionally left blank to add space before the log in button -->
      </div>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <br>
    <a href="/signup" class="defaultlink">New User? Sign up now!</a>
  </div>

</body>