<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body id="not_taken" style="font-family: Signika">
  <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studygroup">Study Group</a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <li><%= link_to "Tutor", '#' %></li> -->
        <!--</li>-->
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            <li class = "dropdown-item"><%= link_to "Profile", adminPage_path %></li>
            <li class = "dropdown-item"><%= link_to "Settings", edit_person_path(@person) %></li>
            <li class="divider"></li>
            <li class = "dropdown-item">
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
  </nav>
  <% provide(:title, @person.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="tutor_info">
        <h1 id="bob" style="font-size:3vw;">Profile - Admin</h1>
        <h1>
          <!--%= gravatar_for @person %>-->
          <div id="bob">
            <p><%= @person.name %> (<%= @person.email %>) </p>
          <div><p></p></div>
          
          <%= link_to "Edit Profile", edit_person_path(@person), {:style=>"color:#fff;"} %> <!--Edit:'(@oerson)' is redundant after edit_person_path because the edit method in people_controller defines @person -->
          <div>
             <%= link_to "Admin actions", people_path(@person), {:style=>"color:#fff;"} %>
          </div>
         
          <!--<button class="btn btn-warning" id="edit_profile">-->
          
          <div>
            <h2 id="downloadExcel", id="animatedbutton">
              <br>
                <%= link_to 'Download user list', persons_path(format: :xlsx) %>
	          </h2>
          </div>
          </h1>
          <br>
          <a href="/import_from_excel" id="animatedbutton">
		        Import excel sheet (cv student list)
	    	  </a>
        
      </section>
    </aside>
   </div>
   </body>