<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body id="not_taken" style="font-family: Signika; background-color: black;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            <li class = "dropdown-item"><div  id="av2"><%= link_to "Profile", adminPage_path %></div></li>
            <li class = "dropdown-item"><%= link_to "Settings", edit_person_path(@person) %></li>
            <li class="divider"></li>
            <li class = "dropdown-item">
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
  </nav>
  
  
  <div class="spacer"></div>
  <h1 id="bob" style="font-size:3vw;">Profile - Admin</h1>
  <% provide(:title, @person.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="tutor_info">
        <h2>
  
          <div id="bob">
            <p><%= @person.name %> (<%= @person.email %>) </p>
          </div>
          <div><p></p></div>
          
          <div><%= link_to "Settings", edit_person_path(@person), {:style=>"color:#fff;"} %></div>
          <div><br>
             <%= link_to "User list", people_path(@person), {:style=>"color:#fff;"} %>
          </div>
          <div ><br>
             <%= link_to "Start New Academic Year", startNewAcademicYear_path, method: :post, data: {confirm: "Are you sure you want to start a new academic year? This action will change all tutors' grade level and remove graduating seniors!"} %>
          </div>
          
          <div>
            <h2 id="downloadExcel">
              <br>
                <%= link_to 'Download user list', persons_path(format: :xlsx) %><br>
                <%= link_to 'Download academy tutor info', downloadAcademyInfo_path(format: :xlsx) %>
	          </h2>
          </div>
          </h1>
          <br><br><br><br><br>
          <a href="/import_from_excel" id="specialanimatedbutton", style="margin-left: 0.1vw; width:45%;">
		        Import CV student list (excel sheet)
	    	  </a>
	    	  <h1>
	    	  <div class="btn btn-primary" id="delete_account_admin", style="margin-left: 0.1vw;">
            <%= link_to "Delete Account", @person, method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %>   <!--instead of accountDelete_path just submit the current person DDDD accountDelete_path(id: Tutor.find_by(people_id: @person.id).id)-->  
	    	  </div>
        </h2>
        
      </section>
    </aside>
   </div>
   </body>
   