<% provide(:title, 'All tutors') %>

<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body id="admintutors", style = "background-color: black;">
	<%= render 'layouts/header' %>

<center>
<h1 style="color: white">All tutors</h1>

<ul class="tutors">
    
<%= will_paginate %>
  <!--%= render @people %>-->
  <h1 class="adminPageGradeName">Seniors</h1>
  <%= render partial: "seniors", collection: @seniors %>
  
  <h1 class="adminPageGradeName">Juniors</h1>
  <%= render partial: "juniors", collection: @juniors %>
  
  <h1 class="adminPageGradeName">Sophomores</h1>
  <%= render partial: "sophomores", collection: @sophomores %>
  
  <h1 class="adminPageGradeName">Freshmen</h1>
  <%= render partial: "freshmen", collection: @freshmen %>
<%= will_paginate %>
</ul>

</center>
</body>
