<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body id="not_taken" style="font-family: Signika; background-color: black;">
  <%= render "layouts/header" %>
  <% provide(:title, @person.name) %>
  <% if @person.academy %>
    <h1 id="bob" style="font-size:3vw;">Profile - Academy Tutor</h1>
  <% elsif @person.supert %>
    <h1 id="bob" style="font-size:3vw;">Profile - Super Tutor</h1>
  <% else %>
    <h1 id="bob" style="font-size:3vw;">Profile - Tutor</h1>
  <% end %>

  <div id="bob">
    <p style="	font-size: 2vw"><%= @person.name %> (<%= @person.email %>), Grade <%=Tutor.find_by(people_id:@person.id).grade%> </p>
    <span id="editprofile">
      <%= link_to "Edit Profile", edit_person_path(@person), {:style=>"color:#fff; font-size: 2vw;"} %>
    </span>
    
          <table style="width:180%" id="VisualTable">
            <tr>
              <th class="tutoringsubject" style="width:43%", "position:absolute">Tutoring:</th>
              <th class="tutoringday" style="width:22%", "position:absolute">Day(s)</th> 
              <% if !@person.academy && !@person.supert%>
                 <th class="tutoringrate" style="width:15%", "position:absolute">Rate</th>
              <% end %>
              <th class="tutoringday" style="width:22%", "position:absolute">Time Slot</th>
              <th class="tutoringoptions" style="width:24%", "position:absolute">Options <div><%= link_to "Delete All", subjectdelete_path(check: -2), method: :destroy,
                                  data: { confirm: "Are you sure?" } %></div></th>
            </tr>
            
              <% Subject.all.each do |i| %>
                <% if (i.creatorid == @person.id) %>    <!-- used to be session[:tutor_id, changed so admins can see subjects -->
                 
                  <table style="width:150%" id="VisualSubjects">   <!-- NOTE: I'm creating a new table here instead of adding a row because for some reason it won't add a row to the existing table and display the name, date, and rate outside the table -->
                    <tr>
                      <th class="tutoringsubject" style="width:43%", "position:absolute"> <%= i.name %></th>
                      <th class="tutoringday" style="width:22%", "position:absolute"> <%= i.days.join(', ') %></th> 
                        <% if !@person.academy && !@person.supert%>
                          <th class="tutoringrate" style="width:15%", "position:absolute"> <%= i.rate %></th>
                          <% end %>
                          <th class="tutoringday" style="width:22%", "position:absolute"> <%= i.timeslots.join(', ') %></th>
                      
                      <th class="tutoringoptions" class="delete" style="width: 24%"><%= link_to " Delete", subjectdelete_path(check: i.id), method: :destroy,
                                  data: { confirm: "Are you sure?" } %></th>
                    </tr>
                  </table>
                <% end %>
              <% end %>
            
            
          </table>
          <br>
          <a href="/subjectcreate">
            <button type="button" class="btn btn-primary" id="createsubjectbutton">Add Subject</button>
          </a>
  </div>
  <h1 class="requestscontainer">
    <div id="bob">
      <p style = "color:#fff; font-size: 2vw">Requests</p>
      <table style="width:460%" id="VisualTable"> 
        <tr>
          <th class="requestname" style="width:20%", "position:absolute">Student name</th>
          <th class="requestemail" style="width:25%", "position:absolute">Email</th> 
          <th class="requestsubject" style="width:20%", "position:absolute">Subject</th> 
          <th class="requestday" style="width:15%", "position:absolute">Day</th>
          <th class="requestday" style="width:20%", "position:absolute">Time Slot</th>
          <th class="requestday" style="width:15%", "position:absolute">Asked on</th> 
          <th class="requestday" style="width:10%", "position:absolute">Options</th> 
           <th class="requestday" style="width:10%", "position:absolute">Accept?</th> 
        </tr>
        
          <% TutorRequest.all.each do |i| %>
            <% if (i.name == Person.find_by(id: session[:tutor_id]).email)%>
             
              <table style="width:160%" id="VisualSubjects">   <!-- NOTE: I'm creating a new table here instead of adding a row because for some reason it won't add a row to the existing table and display the name, date, and rate outside the table -->
                <tr>
                  <th class="requestname" style="width:20%", "position:absolute"> <%= i.student %></th>
                  <th class="requestemail" style="width:25%", "position:absolute"> <%= i.email %></th> 
                  <th class="requestsubject" style="width:20%", "position:absolute"> <%= i.whichSubject %></th> 
                  <th class="requestday" style="width:15%", "position:absolute"> <%= i.time %></th> 
                  <th class="requestday" style="width:20%", "position:absolute"> <%= i.timeslots%></th>
                  <th class="requestday" style="width:15%", "position:absolute"> <%= i.created_at.strftime("%m-%d-%y") %><br>(<%= i.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%I:%M %P") %>)</th> 
                   
                  <th class="tutoringoptions" class="delete" style="width: 10%", "position:absolute"> <%= link_to " Delete", requestdelete_path(check: i.id), method: :delete, data: { confirm: "Are you sure?" } %></th>
                  <% if(i.accepted) %>
                     <th class="tutoringoptions", style="width: 10%", "position:absolute"> Accepted </th>
                  <% else %>
                    <th class="tutoringoptions", style="width: 10%", "position:absolute"><%= link_to "Yes", {:controller => :tutor_requests, :action => :makeAccepted, :check => i.id, :receiverEmail => i.email},  :method => :post, data: { confirm: "Accept request?" } %> | <%= link_to "No", decline_path(check: i.id), method: :post, data: { confirm: "Decline request? This action cannot be reversed and will delete the request" } %></th>
                  <% end %>
                </tr>
                 
              </table>
              
            <% end %>
          <% end %>
      </table>
    </div>
  </h1>

      <br>
      <!--replced your link_to with an a href-->
      
     <!--<a data-confirm="Are you sure you want to delete your account?" rel="nofollow" data-method="delete" href="/people/4" style="font-size: 2vw" class="delete">Delete Account</a>   <!--instead of accountDelete_path just submit the current person DDDD accountDelete_path(id: Tutor.find_by(people_id: @person.id).id)--> 
    <span id="delete_button_profile">
   <%= link_to " Delete Account", accountDelete_path(id: @person.id), method: :delete,
                            data: { confirm: "Are you sure?" } %>
    </span>
   
    </h1>
      </section>
    </aside>
  </div><br>
     <!--<a data-confirm="Are you sure you want to delete your account?" rel="nofollow" data-method="delete" href="/people/4" style="font-size: 2vw" class="delete">Delete Account</a>   <!--instead of accountDelete_path just submit the current person DDDD accountDelete_path(id: Tutor.find_by(people_id: @person.id).id)--> 
</body>