<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  	
</head>
<body id="not_taken" style="font-family: Signika">
  <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studygroup">Study Group</a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <li><%= link_to "Tutor", '#' %></li> -->
        <!--</li>-->
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            <li class = "dropdown-item"><%= link_to "Profile", current_person %></li>
            <li class = "dropdown-item"><%= link_to "Settings", edit_person_path(@person) %></li>
            <li class="divider"></li>
            <li class = "dropdown-item">
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
  </nav>
  <% provide(:title, @person.name) %>
  <h1 id="bob" style="font-size:3vw;">Profile</h1>
  <div class="row">
    <aside class="col-md-4">
      <section class="tutor_info">
        <h1>
          <div id="bob">
          <%= @person.name %>
          <%= @person.email %>
            
          <div><p></p></div>
          
          <%= link_to "Edit Profile", edit_person_path(@person), {:style=>"color:#fff;"} %> <!--Edit:'(@oerson)' is redundant after edit_person_path because the edit method in people_controller defines @person -->

          <!--<button class="btn btn-warning" id="edit_profile">-->


          <div><p></p></div>
           <!--<script>-->
           <!--   function addRow() {-->
           <!--     alert('ok');-->
           <!--     document.getElementById("VisualTable").insertRow(-1);-->
           <!--      document.getElementById("VisualTable").insertRow(1);-->
           <!--      document.getElementById("VisualTable").insertRow().insertCell(0);-->
           <!--      document.getElementById("VisualTable").insertRow().insertCell(1);-->
           <!--       document.getElementById("VisualTable").insertRow().insertCell(2);-->
           <!--   }-->
           <!--   window.onload = addRow();-->
           <!-- </script> -->
           
          <table style="width:180%" id="VisualTable">
            <tr>
              <th  style="width:43%", "position:absolute">My subjects</th>
              <th style="width:22%", "position:absolute">Day</th> 
              <th style="width:15%", "position:absolute">Rate</th>
              <th style="width:24%", "position:absolute">Options</th>
            </tr>
            
              <% Subject.all.each do |i| %>
                <% if ((i.creatorid == session[:tutor_id]) && (i.deletedSubject==false)) %>
                 
                  <table style="width:150%" id="VisualSubjects">   <!-- NOTE: I'm creating a new table here instead of adding a row because for some reason it won't add a row to the existing table and display the name, date, and rate outside the table -->
                    <tr>
                      <th style="width:43%", "position:absolute"> <%= i.name %></th>
                      <th style="width:22%", "position:absolute"> <%= i.date %></th> 
                      <th style="width:15%", "position:absolute"> <%= i.rate %></th>
                      
                      <th style="width: 24%"><%= link_to " Delete", subjectdelete_path(check: i.id), method: :destroy,
                                  data: { confirm: "Are you sure?" } %></th>
                    </tr>
                    <%# session[:selected_subject_id] = i.id %>
                     
                  </table>
                <% end %>
              <% end %>
            
            
            <!--<tr>-->
            <!--  <td> %= Subject.first.name %></td> <!-- Subject.find_by(tutor_id: params[:id]) --> 
            <!--  <td> %= Subject.first.date %> </td> -->
            <!--  <td>%= Subject.first.rate %></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--  <td>%=Subject.second.name%></td>-->
            <!--  <td>%= Subject.second.date %></td> -->
            <!--  <td>%= Subject.second.rate %></td>-->
            <!--</tr>-->
          </table>
         
          <div>
            <p></p>
          </div>
          <!--%= link_to "Create Subject", 'subjectcreate_path', {:style=>"color:#fff;"} %>-->
          <a href="/subjectcreate">
            <button type="button" class="btn btn-primary" id="createsubjectbutton">Create Subject</button>
          </a>
          </div>
        </h1>
        <h1>
        <div id="bob">
          <p style = "color:#fff;">Requests</p>
        <table style="width:120%" id="VisualTable"> 
            <tr>
                      <th style="width:16.1%", "position:absolute">Student name</th>
                      <th style="width:25%", "position:absolute">Email</th> 
                      <th style="width:20%", "position:absolute">Subject</th> 
                      <th style="width:20%", "position:absolute">Day</th> 
              </tr>
            
              <% TutorRequest.all.each do |i| %>
                <% if i.name == Person.find_by(id: session[:tutor_id]).email %>
                 
                  <table style="width:120%" id="VisualSubjects">   <!-- NOTE: I'm creating a new table here instead of adding a row because for some reason it won't add a row to the existing table and display the name, date, and rate outside the table -->
                    <tr>
                      <th style="width:16.1%", "position:absolute"> <%= i.student %></th>
                      <th style="width:25%", "position:absolute"> <%= i.email %></th> 
                      <th style="width:20%", "position:absolute"> <%= i.whichSubject %></th> 
                      <th style="width:20%", "position:absolute"> <%= i.time %></th> 
                      
                    </tr>
                    <%# session[:selected_subject_id] = i.id %>
                     
                  </table>
                <% end %>
              <% end %>
            
            
            <!--<tr>-->
            <!--  <td> %= Subject.first.name %></td> <!-- Subject.find_by(tutor_id: params[:id]) --> 
            <!--  <td> %= Subject.first.date %> </td> -->
            <!--  <td>%= Subject.first.rate %></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--  <td>%=Subject.second.name%></td>-->
            <!--  <td>%= Subject.second.date %></td> -->
            <!--  <td>%= Subject.second.rate %></td>-->
            <!--</tr>-->
          </table>
          </div>
          </h1>
      </section>
    </aside>
  </div>
</body>