<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body id="not_taken" style="font-family: Signika">
  <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studygroup">Study Group</a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <li><%= link_to "Tutor", '#' %></li> -->
        <!--</li>-->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            <li class = "dropdown-item"><%= link_to "Profile", current_person %></li>
            <li><%= link_to "Settings", edit_person_path(@person) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", '#', method: :delete %>
            </li>
          </ul>
      </ul>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
  </nav>
  <% provide(:title, @person.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="tutor_info">
        <h1>
          <%= gravatar_for @person %>
          <br></br>
          <div id="bob">
          <%= @person.name %>
          <%= @person.email %>
            
          <div><p></p></div>
          
          <%= link_to "Edit Profile", edit_person_path(@person), {:style=>"color:#fff;"} %>
          <!--<button class="btn btn-warning" id="edit_profile">-->
          <div><p></p></div>
          <table style="width:240%">
            <tr>
              <th>Subject</th>
              <th>Date</th> 
              <th>Rate</th>
            </tr>
            <tr>
              <td> <%= Subject.first.name %></td> <!-- Subject.find_by(tutor_id: params[:id]) -->
              <td> <%= Subject.first.date %> </td> 
              <td><%= Subject.first.rate %></td>
            </tr>
            <tr>
              <td><%=Subject.second.name%></td>
              <td><%= Subject.second.date %></td> 
              <td><%= Subject.second.rate %></td>
            </tr>
          </table>
          <div>
            <p></p>
          </div>
          <a href="/subjectcreate">
            <button type="button" class="btn btn-primary" id="createsubjectbutton">Create Subject</button>
          </a>
          </div>
        </h1>
      </section>
    </aside>
  </div>
</body>