<% provide(:title, "Create Subject") %>
       <!--   % if logged_in? %> -->
	
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studygroup">Study Group</a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <li><%= link_to "Tutor", '#' %></li> -->
        <!--</li>-->
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            <li class = "dropdown-item"><%= link_to "Profile", show_person_path %></li>
        
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", '#', method: :delete %>
            </li>
          </ul>
      </ul>
      </nav>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
  
</nav>

<body>
<!--<h1 id="martin"><div style="background-color:lightgrey; opacity: 0.96; text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 83% 0% -1%; border-radius:25px;"> Create a subject</h1></div>-->

<div class="large_content" id="createsubjectlargecontent">
		<div class="container">
			<h1 id="createsubjecth1">Create a Subject</h1>
		</div>
</div>
<!--<h1 id="martin"><div style="background-color:lightgrey; opacity: 0.96; text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 75% 0% -1%; border-radius:25px;"> Create a subject</h1></div>-->



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subject, url: subjectcreate_path) do |f| %>
      <%= render 'shared/error_messages_subject' %>

<div style=" text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 5%% 0% -1%; border-radius:25px;">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :date %>
      <%= f.text_field :date, class: 'form-control' %>

      <%= f.label :rate %>
      <%= f.text_field :rate, class: 'form-control' %>
  
      <div>
        <p></p>
      </div>
      <div id="center_save_changes"> <%= f.submit "Save", class: "btn btn-primary" %> </div>
     
      <div>
        <p>
        </p>
      </div>
      
      
    <% end %>

    
  </div>
</div>
</div>
</body>