<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Red+Hat+Text|Poppins" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<% provide(:title, 'Find a group') %>
<%= render 'layouts/header' %>
   
<div class="large_content" id="large_content" style="background-position: 30% 37%; height: ">
    <h1>Study groups</h1>
    <a href="/creategroup">
      <button type="button" class="btn btn-primary" id="createsubjectbutton">Create Group</button>
    </a>
    <a href="/owner">
      <button type="button" class="btn btn-primary" id="createsubjectbutton">View your group</button>
    </a>
</div>
<br>
<% @allofthemgroups.each do |i| %>
 <% if !StudyGroup.find(i).nil? && i.groupSize > 0 %>
     <!--new thing vikram implemented on 8/26-->
    <div class = "studygroupdisplaycard searchresultslargecontainer">
			<div class="groupsize"><%= i.groupSize %></div>
			<div class="availablespots">Spots available</div>
			<div class="host"><%= i.groupName %></div>
			<div class="creatorname"><%= i.creatorName %></div>
			<div class="contact"><%= i.email %></div>
			<div class="studydate"><%= i.date %></div>
			<div class="location">
			  <i class="fa fa-map-marker fa-2x"></i>
			  <div class="loc-popup"><%= i.location %></div>
			</div>			
	
		
		  <div class="studygroupsendrequest">
         <%= form_tag(joinGroup_path(email: i.email), method: :post) do %> <!-- params[:name] is for the tutor's email I just have too much to do rn to change the attribute name -->
         <div><p></p></div>
          <h4 class="findatutor_heading">Join group: </h4>
          <input type="text" name="email" id="email" placeholder="Enter your email" class = "form-control"><br>
          <input type="text" name="name" id="name" placeholder="Your name"  class = "form-control"><br> 
          <input type="submit" name="commit" value="Send" data-disable-with="Send" id="specialanimatedbutton">
          <% end %>
      </div>
    </div>
    <br>
  <% elsif i.groupSize == 0 %>
     <div class = "studygroupdisplaycard searchresultslargecontainer">
			<div class="groupsize"><%= i.groupSize %></div>
			<div class="availablespots">FULL</div>
			<div class="host"><%= i.groupName %></div>
			<div class="creatorname"><%= i.creatorName %></div>
			<div class="contact"><%= i.email %></div>
			<div class="studydate"><%= i.date %></div>
			<div class="location">
			  <i class="fa fa-map-marker fa-2x"></i>
			  <div class="loc-popup"><%= i.location %></div>
			</div>			
	
    </div>
    <br>
  <% end %>
<% end %>
            <!--</div>-->
          <!--%= link_to "Create Subject", 'subjectcreate_path', {:style=>"color:#fff;"} %>-->

          <!--</div>-->
</body>

