<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Red+Hat+Text|Poppins" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<% provide(:title, 'Find a group') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      <% if Person.find_by(id: session[:tutor_id])%>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
           <% if Person.find_by(id: session[:tutor_id]).admin? %>
              <li class = "dropdown-item"><%= link_to "Profile", adminPage_path %></li>
            <% else %>
              <li class = "dropdown-item"><%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
            <% end %>
            <li class="divider"></li>
            <li class = "dropdown-item">
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
    </nav>
      <% else %>
        
      <% end %>
      
    </ul>
  </div>
</nav>
<div class="large_content" id="large_content" style="background-position: 30% 37%; height: ">
    <h1>Study groups</h1>
    <a href="/creategroup">
      <button type="button" class="btn btn-primary" id="createsubjectbutton">Create Group</button>
    </a>
    <a href="/owner">
      <button type="button" class="btn btn-primary" id="createsubjectbutton">View your group</button>
    </a>
</div>
<br>
<% @allofthemgroups.each do |i| %>
 <% if !StudyGroup.find(i).nil? && i.groupSize != 0 %>
     <!--new thing vikram implemented on 8/26-->
    <div class = "tutordisplaycard searchresultslargecontainer">
			<div class="groupsize"><%= i.groupSize %></div>
			<div class="host"><%= i.creatorName %></div>
			<div class="contact"><%= i.email %></div>
			<div class="studydate"><%= i.date %></div>
			<div class="location">
			  <i class="fa fa-map-marker fa-2x"></i>
			  <div class="loc-popup"><%= i.location %></div>
			</div>			
	
		
		  <div class="tutorsendrequest">
         <%= form_tag(joinGroup_path(email: i.email, studyGroup: i), method: :post) do %> <!-- params[:name] is for the tutor's email I just have too much to do rn to change the attribute name -->
         <div><p></p></div>
          <h4 class="findatutor_heading">Join group: </h4>
          <input type="text" name="email" id="email" placeholder="Enter your email" class = "form-control"><br>
          <input type="text" name="name" id="name" placeholder="Your name"  class = "form-control"><br> 
          <input type="submit" name="commit" value="Send" data-disable-with="Send" id="specialanimatedbutton">
          <% end %>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
            <!--</div>-->
          <!--%= link_to "Create Subject", 'subjectcreate_path', {:style=>"color:#fff;"} %>-->

          <!--</div>-->
</body>

