<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<% provide(:title, 'Create a group') %>
<!--<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">-->
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--      	<a class="nav-link" href="/about">About</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/help">Help</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/studygroup">Study Group</a>-->
<!--      </li>-->
<!--  </ul>-->
<!--  <a class="navbar-brand" href="/home">CV Enterprises</a>-->
<!--  </div>-->
<!--</nav>-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      <% if session[:tutor_id] %>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
           <% if Person.find_by(id: session[:tutor_id]).admin? %>
              <li class = "dropdown-item"><%= link_to "Profile", adminPage_path %></li>
            <% else %>
              <li class = "dropdown-item"><%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
            <% end %>
            <li class="divider"></li>
            <li class = "dropdown-item">
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
    </nav>
      <% else %>
        
      <% end %>
      
    </ul>
  </div>
</nav>
<div class="large_content" id="large_content">
    <h1>Create a group</h1>
</div>

<body>    
<div class="row">
  
    <div  class="col-md-6 col-md-offset-3">
    <%= form_for(@study_groups, url: creategroup_path) do |f| %>
      <%= render 'shared/error_messages_group' %>
        <%= f.label :creatorName, "Your Name" %>
        <%= f.text_field :creatorName, class: 'form-control' %>
        
        <%= f.label :date, "Date" %>
        <%= f.text_field :date, class: 'form-control' %>
        
        <%= f.label :location, "Location" %>
        <%= f.text_field :location, placeholder: "Ex: La Crescenta Library, etc. ", class: 'form-control' %>
        
        <%= f.label :groupSize, "Size of your group" %>
         <%= f.text_field :groupSize, placeholder: "*Set above 100 if this doesn't matter", class: 'form-control' %>   
       
        <%= f.label :groupName, "What you want to study" %>
        <%= f.text_field :groupName, placeholder: "Ex: AP Environmental Science", class: 'form-control' %>
        <br>
        <%= f.label :time, "Time" %>
        <%= f.text_field :time, placeholder: "6:30 p.m.", class: 'form-control', id: 'bottominput' %>
        
        <%= f.label :email, "Your email address" %>
        <%= f.text_field :email, class: 'form-control', id: 'bottominput' %>
  
        <%= f.submit "Create group", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
   
  </div>
</div>
</body>

