<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<% provide(:title, 'Create a group') %>
	<%= render 'layouts/header' %>
	
<div class="large_content" id="large_content">
    <h1>Create a group</h1>
</div>

<body>    
<div class="row">
  
    <div  class="col-md-6 col-md-offset-3">
    <%= form_for(@study_groups, url: creategroup_path) do |f| %>
      <%= render 'shared/error_messages_group' %>
        <%= f.label :creatorName, "Your Name" %> <span class="required">*</span>
        <%= f.text_field :creatorName, class: 'form-control' %>
        <br>
         <%= f.label :email, "Email address" %> <span class="required">*</span>
        <%= f.text_field :email, class: 'form-control', id: 'bottominput' %>
        <br>
        <%= f.label :date, "Date" %> <span class="required">*</span>
        <%= f.text_field :date, class: 'form-control' %>
        <br>
        <%= f.label :location, "Location (preferably a public location e.g. La Crescenta Library)" %> <span class="required">*</span>
        <%= f.text_field :location, class: 'form-control' %>
        <br>
        <%= f.label :groupSize, "Size of your group" %> <span class="required">*</span>
         <%= f.text_field :groupSize,  class: 'form-control' %>   
       <br>
        <%= f.label :groupName, "What you want to study (Ex: AP Calc AB test)" %> <span class="required">*</span>
        <%= f.text_field :groupName,  class: 'form-control' %>
        <br>
        <%= f.label :time, "Time" %> <span class="required">*</span>
        <%= f.text_field :time, placeholder: "Ex: 6:30 p.m.", class: 'form-control', id: 'bottominput' %>
         <br>
         <%= f.label :passkey, "Password (You'll need this to view details or delete your group)" %> <span class="required">*</span>
        <%= f.text_field :passkey, class: 'form-control', id: 'bottominput' %>
  <br>
        <%= f.submit "Create group", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
   
  </div>
</div>
</body>

