<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Red+Hat+Text|Poppins" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<% provide(:title, 'Find your group') %>
	<%= render 'layouts/header' %>
<div class="large_content" id="large_content" style="background-position: 30% 37%; height: ">
    <h1>Enter password</h1>
</div>
<br>
<center>
  <div  class="col-md-6 col-md-offset-3">
    <%= form_for(@ownedGroup, url: owner_path) do |f| %>
      <%= f.label :email, "Your email" %> <span class="required">*</span>
      <%= f.text_field :email, class: 'form-control', id: 'bottominput' %>
      
       <%= f.label :passkey, "Password" %> <span class="required">*</span>
      <%= f.password_field :passkey, class: 'form-control', id: 'bottominput' %>

      <%= f.submit "Find group", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
  </div>
</center>
            <!--</div>-->
          <!--%= link_to "Create Subject", 'subjectcreate_path', {:style=>"color:#fff;"} %>-->

          <!--</div>-->
</body>

