<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<% provide(:title, 'Become a Tutor') %>
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      
      <!--<li class="nav-item">-->
      <!--  <li><%= link_to "Tutor", '#' %></li> -->
      <!--</li>-->
      <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account 
          </button>
        <ul class="dropdown-menu">
          <li class = "dropdown-item"><%= link_to "Profile", current_tutor %></li>
          <li class = "dropdown-item"><%= link_to "Settings", '#' %></li>
          <li class = "dropdown-item">
            <%= link_to "Log out", '#', method: :delete %>
          </li>
        </ul>
        </div>
  </ul>
  <a class="navbar-brand" href="/home">CV Enterprises</a>
  </div>
</nav>
    
<div class="large_content" id="large_content">
    <h1> Sign Up</h1>
  <!--<div class="dropdown">-->
  <!--  <ul class="dropdown-menu">-->
  <!--    <li class = "dropdown-item"><%= link_to "Profile", current_tutor %></li>-->
  <!--    <li><%= link_to "Settings", '#' %></li>-->
  <!--    <li class="divider"></li>-->
  <!--    <li>-->
  <!--      <%= link_to "Log out", '#', method: :delete %>-->
  <!--    </li>-->
  <!--  </ul>-->
  <!--</div>-->
</div>

<body>    
<div class="row">
  
    <div  class="col-md-6 col-md-offset-3">
    <%= form_for(@tutor_person, url: tutorsignup_path) do |f| %>
      <%= render 'shared/error_messages_tutor_people' %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Joe Falcon",class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "example@gmail.com", class: 'form-control' %>
        
        <%= f.label :ID_Number %>
        <%= f.text_field :id_num, placeholder: "123456", class: 'form-control' %>
        
        <%= f.label :grade %>
        <select class = "form-control" name="Contact[email_provider]">
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
        <%= f.label :password_confirmation, "Re-enter password" %>
        <%= f.password_field :password_confirmation, class: 'form-control', id: 'bottominput' %>
  
        <%= f.submit "Create my account", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
   
  </div>
</div>
</body>

