<head>
  	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
  	<script src="jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<% provide(:title, 'Become a Tutor') %>
<script src="jquery-3.3.1.min.js"></script>
<%= render 'layouts/header' %>
    
<div class="large_content" id="large_content" style="background-position: 30% 37%">
    <h1> Sign Up</h1>
    <!--<a href="/adminSignup" id="adminSignup">Staff? Click here instead to request an admin account</a>-->
</div>

<body>    
<div class="row">
  
    <div  class="col-md-6 col-md-offset-3">
    <%= form_for(@tutor_person, url: tutorsignup_path) do |f| %>
      <%= render 'shared/error_messages_tutor_people' %>
          
        <%= f.label :name %><span class="required">*</span>
        <%= f.text_field :name, placeholder: "John Smith",class: 'form-control' %>
        
        <%= f.label :email, 'GUSD Student Email' %><span class="required">*</span>
        <%= f.email_field :email, placeholder: "abcd1234@stu.gusd.net", class: 'form-control' %>
        
        <%= f.label :ID_Number, '6 Digit ID Number' %><span class="required">*</span>
        <%= f.password_field :id_num, placeholder: "123456", class: 'form-control' %>

        <%= f.label :grade %><span class="required">*</span>
         <%= f.select :grade, options_for_select(['9', '10', '11', '12'], (@tutor_person.grade)), { include_blank: 'Select Grade'}, class: "form-control" %>
         
        <%= f.label :password %><span class="required">*</span>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
        <%= f.label :password_confirmation, "Re-enter password" %><span class="required">*</span>
        <%= f.password_field :password_confirmation, class: 'form-control', id: 'bottominput' %>
        
        <%= f.label "Admin Key (admin use only)" %>
        <%= f.password_field :adminKey, class: 'form-control' %>
        
        <%= f.label :aosm, 'Academy Member' %>
        <%= f.check_box :academy, {class: 'form-control'}, "true", "false"%>        <!--  checked_value = true, unchecked_value = false, -->
        <%= f.label :supertut, 'Super Tutor' %>
        <%= f.check_box :academy, {class: 'form-control'}, "true", "false"%> 
        <%= f.submit "Create my account", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
   
  </div>
</div>
</body>

