<% provide(:title, "Search results") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Montserrat|Red+Hat+Text" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findatutor">Find a Tutor</a>
      </li>
    </ul>
  </div>
</nav>
	<div class="large_content">
		<div class="container">
			<h1 id="homeh1">Find a tutor</h1>
			<p id="homep"></p>		
		</div>
			
 	</div>
 	
 	<div><p></p></div>
 	    <h3 id="findatutor_headingavailabletutors">Available tutors for <%= params[:searchName] %></h3> 
 	    <% if @subjuctivos.nil? %>
 	      <%= render 'shared/error_messages_search' %>
 	    <% else %>
   	    <% @subjuctivos.each do |subjuctivo| %>
   	        
   	            <% if Person.find_by(id: subjuctivo.creatorid).nil? %>
   	                <% else %>
   	                <!--new thing vikram implemented on 8/26-->
   	                <div class = "tutordisplaycard">
                			<div class="tutorgrade">
                				11
                				<!--Adarsh i need you to put the Carrot Percent thing for tutor's grade here (-->
                			</div>
                			<div class="tutorname">
                			<%=	Person.find_by(id: subjuctivo.creatorid).name %>
                			</div>
                			<div class="date">
                				<%= subjuctivo.date %>
                			</div>
                			<div class="rate">
                				Rate: $<%= subjuctivo.rate %>
                			</div>
                		</div>
   	                <%= link_to Person.find_by(id: subjuctivo.creatorid).name, selectedTutor_path(helpthevariables: Person.find_by(id: subjuctivo.creatorid).email) %>
   	                <p><%= subjuctivo.date %>  &nbsp; &nbsp; Rate:  <%= subjuctivo.rate %></p>
   	                <% end %>
   	        
   	    <% end %>
   	  <% end %>
   </body>
   </html>