<% provide(:title, "Search results") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Montserrat|Red+Hat+Text" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body id="body">
 <%= render 'layouts/header' %>
	<div class="large_content">
		<div class="container">
			<h1 id="homeh1">Available tutors for <br><%= params[:searchName] %></h1>
			<p id="homep">Click 'Select' on a card to request that tutor</p>		
		</div>
			
 	</div>

  <% @checker = false  %>
  <% if @subjuctivos.nil? %>
   <%= render 'shared/error_messages_search' %>
 	      
  <% else %>
    <% a = 0 %>
    <% @subjuctivos.each do |subjuctivo| %>
      <% a = a+1 %>
      <% if (Person.find_by(id: subjuctivo.creatorid).nil?)%>
       
      <% else %>
        <% @checker = true %>
        <div class = "tutordisplaycard searchresultslargecontainer">
          <div class="tutorgrade">
            <div class="tutorGradeLabel">
              <h2>Grade</h2><%= Tutor.find_by(people_id: subjuctivo.creatorid).grade %>
            </div>
          </div>
          <div class="tutorname">
             <%= Person.find_by(id: subjuctivo.creatorid).name %>
          </div>
          <div class="date">
          	<%= subjuctivo.days.join(', ')%>
          </div>
          <% if Person.find_by(id: subjuctivo.creatorid).academy %>
            <div class="rate">
              Academy Tutor - Free
            </div>
            <!--<div class="location">-->
            <!--  <i class="fa fa-map-marker fa-2x"></i>-->
              <!--<div class="loc-popup">CV Library</div>-->
            <!--  <div class="loc-popup">Virtual Tutoring</div>-->
            <!--</div>-->
          <% elsif Person.find_by(id: subjuctivo.creatorid).super %>
            <div class="rate">
              Super Tutor - Free
            </div>
            <!--<div class="location">-->
            <!--  <i class="fa fa-map-marker fa-2x"></i>-->
              <!--<div class="loc-popup">CV Library</div>-->
            <!--  <div class="loc-popup">Virtual Tutoring</div>-->
            <!--</div>-->
          <% else %>
            <div class="rate">
            	Rate: <%= subjuctivo.rate %>
            </div>
          <% end %>
          <div class="timeslot">
          	<%= subjuctivo.timeslots.join(', ')%>
          </div>
        
        
        <!-- Button trigger modal -->
        <button class="btn btn-success btn-xs selectTutor" data-toggle="modal" data-target="#<%= 'x'*a %>Modal">
          Select
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="<%= 'x'*a %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= 'x'*a %>ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Selection</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
              <div class="modal-body">
                 <%= form_tag(request_path(tutoremail: Person.find_by(id: subjuctivo.creatorid).email, whichSubject: subjuctivo.name), method: :post) do %> <!-- params[:name] is for the tutor's email I just have too much to do rn to change the attribute name -->
                <h4 class="findatutor_heading">Send a request to <%= Person.find_by(id: subjuctivo.creatorid).email %>: </h4>
                  <input type="text" name="student" id="student" placeholder="Your Name"  class = "form-control" required><p></p> 
                  <input type="text" name="email" id="email" pattern=".+@stu\.gusd\.net" placeholder="Enter Your GUSD Student Email" class = "form-control" required>
               	  <% if Person.find_by(id: subjuctivo.creatorid).academy %>
                 	  <div id='dayOnSendRequestAcademy'><%= label_tag "Day:" %>
                      <%= select_tag :time, options_for_select(subjuctivo.days.to_a), include_blank: true %>
                      <%= label_tag "Time slot:" %>
                      <%= select_tag :timeslots, options_for_select(subjuctivo.timeslots.to_a), include_blank: true %>
                    </div>
                  <% else %>
                    <div id='dayOnSendRequest'><%= label_tag "Day:" %>
                    <%= select_tag :time, options_for_select(subjuctivo.days.to_a), include_blank: true %>
                    <%= label_tag "Time slot:" %>
                    <%= select_tag :timeslots, options_for_select(subjuctivo.timeslots.to_a), include_blank: true %>
                  </div>                  
                  <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                   <%= submit_tag "Submit Request", name: nil, class: "btn btn-success" %>
                <% end %>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
          </div>
  <% end %>
   	  <% end %>
     	  <% if !@checker %>
     	     <%= render 'shared/error_messages_search' %>
     	  <% end %>
   	  <br>
   	<% end %>
</body>
</html>