<% provide(:title, "Search results") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Montserrat|Red+Hat+Text" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body id="body">
 <%= render 'layouts/header' %>
	<div class="large_content">
		<div class="container">
			<h1 id="homeh1">Available tutors for <br><%= params[:searchName] %></h1>
			<p id="homep">Click on a card to request tutoring</p>		
		</div>
			
 	</div>

 	<% @checker = false  %>
 	    <% if @subjuctivos.nil? %>
 	      <%= render 'shared/error_messages_search' %>
 	      
 	    <% else %>
   	    <% @subjuctivos.each do |subjuctivo| %>
   	        
   	            <% if (Person.find_by(id: subjuctivo.creatorid).nil?)%>
   	              
   	            <% else %>
   	                <% @checker = true %>
   	                <div class = "tutordisplaycard searchresultslargecontainer">
                			<div class="tutorgrade">
                				<div class="tutorGradeLabel">
                				  <h2>Grade</h2><%= Tutor.find_by(people_id: subjuctivo.creatorid).grade %>
                				</div>
                			</div>
                			<div class="tutorname">
                			   <%= Person.find_by(id: subjuctivo.creatorid).name %>
                			</div>
                			<div class="date">
                				<%= subjuctivo.days.join(', ')%>
                			</div>
                			<% if Person.find_by(id: subjuctivo.creatorid).academy %>
                			  <div class="rate">
                    			Academy Tutor - Free
                  			</div>
                  			<div class="location">
                    			 <i class="fa fa-map-marker fa-2x"></i>
                    			  <!--<div class="loc-popup">CV Library</div>-->
                    			  <div class="loc-popup">Virtual Tutoring</div>
                    		</div>
                			<% else %>
                  			<div class="rate">
                  				Rate: <%= subjuctivo.rate %>
                  			</div>
                  		<% end %>
                  		<div class="timeslot">
                				<%= subjuctivo.timeslot %>
                			</div>
                    <div class="request_container nodisplay">
                          <div class="tutorsendrequest">
                                <%= form_tag(request_path(tutoremail: Person.find_by(id: subjuctivo.creatorid).email, whichSubject: subjuctivo.name, time: subjuctivo.date, timeslot: subjuctivo.timeslot), method: :post) do %> <!-- params[:name] is for the tutor's email I just have too much to do rn to change the attribute name -->
                                  <div><p></p></div>
                         	       <h4 class="findatutor_heading">Send request to tutor: </h4>
                         	       <input type="text" name="email" id="email" placeholder="Enter your email" class = "form-control"><br>
                         	        <input type="text" name="student" id="student" placeholder="Your name"  class = "form-control"><br> 
                                  <input type="submit" name="commit" value="Send" data-disable-with="Send" id="specialanimatedbutton">
                                <% end %>
                                <i class="fa fa-times req-times"></i>
                          </div>
                    </div>
                      <div><p></p></div>
            </div>
          <% end %>
   	  <% end %>
     	  <% if !@checker %>
     	     <%= render 'shared/error_messages_search' %>
     	  <% end %>
   	  <br>
   	<% end %>
</body>
</html>