<% provide(:title, "Find a Tutor") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findatutor">Find a Tutor</a>
      </li>
    </ul>
  </div>
</nav>
	<div class="large_content">
		<div class="container">
			<h1 id="homeh1">Find yerself a tutor</h1>
			<p id="homep">hello im just a front end boi whos getting a bit bored</p>		
		</div>
			
 	</div>
 	
 	<div>
 	  <h4>Search by subject name: </h4>
 	    <%= form_tag(findatutor_path, method: :get) do %>
 	      <%= text_field_tag(:search, params[:search]) %>
 	      <%= submit_tag ("Search") %>
 	    <% end %>
 	    
 	    <h3>Available tutors for <%= params[:search] %></h3> 
 	    <% @subjuctivos.each do |subjuctivo| %>
 	        <ul>
 	            <li>
 	                <%= link_to Person.find_by(id: subjuctivo.creatorid).name %>
 	                    
 	            </li> 
 	        </ul>
 	    <% end %>
 	</div>
</body>
</html>
