<% provide(:title, "Search results") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin|Montserrat|Red+Hat+Text" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findatutor">Find a Tutor</a>
      </li>
      <% if session[:tutor_id] %>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
           <% if Person.find_by(id: session[:tutor_id]).admin? %>
              <li class = "dropdown-item"><%= link_to "Profile", adminPage_path %></li>
            <% else %>
              <li class = "dropdown-item"><%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
    </nav>
      <% else %>
        
      <% end %>
    </ul>
  </div>
</nav>
	<div class="large_content">
		<div class="container">
			<h1 id="homeh1">Find a tutor</h1>
			<p id="homep"></p>		
		</div>
			
 	</div>
 	
 	<div><p></p></div>
 	    <h3 id="findatutor_headingavailabletutors">Available tutors for <%= params[:searchName] %></h3> 
 	    <% if @subjuctivos.nil? %>
 	      <%= render 'shared/error_messages_search' %>
 	    <% else %>
   	    <% @subjuctivos.each do |subjuctivo| %>
   	        
   	            <% if Person.find_by(id: subjuctivo.creatorid).nil? %>
   	                <% else %>
   	                <!--new thing vikram implemented on 8/26-->
   	                <div class = "tutordisplaycard searchresultslargecontainer">
                			<div class="tutorgrade">
                				<%= Tutor.find_by(people_id: subjuctivo.creatorid).grade %>
                				<!--Adarsh i need you to put the Carrot Percent thing for tutor's grade here  *DONE*(-->
                			</div>
                			<div class="tutorname">
                			  <%= link_to Person.find_by(id: subjuctivo.creatorid).name, selectedTutor_path(helpthevariables: Person.find_by(id: subjuctivo.creatorid).email, searchName: params[:searchName], searchDate: params[:searchDate]) %>
                			</div>
                			<div class="date">
                				<%= subjuctivo.date %>
                			</div>
                			<div class="rate">
                				Rate: <%= subjuctivo.rate %>
                			</div>
                			<div class="tutorsendrequest">
              			    <%= form_tag(request_path(name: Person.find_by(id: subjuctivo.creatorid).name), method: :post) do %>
                          <div><p></p></div>
                 	       <h4 class="findatutor_heading">Send request to tutor: </h4>
                 	       <input type="text" name="email" id="email" placeholder="Enter your email" class = "form-control"><br>
                 	        <input type="text" name="student" id="student" placeholder="Your name" class = "form-control"> <!-- params[:name] is for the tutor's name not the student's name -->
                          <input type="submit" name="commit" value="Send" data-disable-with="Search" id="specialanimatedbutton">
                        <% end %>
                			</div>
                		</div>
   	                <%= link_to Person.find_by(id: subjuctivo.creatorid).name, selectedTutor_path(helpthevariables: Person.find_by(id: subjuctivo.creatorid).email) %>
   	                <p><%= subjuctivo.date %>  &nbsp; &nbsp; Rate:  <%= subjuctivo.rate %></p>
   	                <% end %>
   	        
   	    <% end %>
   	  <% end %>
   </body>
   </html>