<% provide(:title, "Create Subject") %>
       <!--   % if logged_in? %> -->
	
	

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studygroup">Study Group</a>
        </li>
        
        <!--<li class="nav-item">-->
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            
            <% if Person.find_by(id: session[:tutor_id]).admin? %>
              <li class = "dropdown-item"><%= link_to "Profile", adminPage_path %></li>
            <% else %>
              <li class = "dropdown-item"><%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
            <% end %>
            
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      </nav>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
</nav>
<!--<h1 id="martin"><div style="background-color:lightgrey; opacity: 0.96; text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 83% 0% -1%; border-radius:25px;"> Create a subject</h1></div>-->

<div class="large_content" id="createsubjectlargecontent">
		<div class="container">
			<h1 id="createsubjecth1">Create a Subject</h1>
		</div>
</div>
<!--<h1 id="martin"><div style="background-color:lightgrey; opacity: 0.96; text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 75% 0% -1%; border-radius:25px;"> Create a subject</h1></div>-->



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subject, url: subjectcreate_path) do |f| %>
      <%= render 'shared/error_messages_subject' %>

<div style=" text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 5%% 0% -1%; border-radius:25px;">
      <%= f.label :subject %>
      <!--%= f.collection_select :subject, :cvsubject_id, CvSubject.all, :id %>-->
      <!--collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true)-->
      <%= f.select :name, options_for_select(['English 9','English 9 Advanced','English 10','English 10 Honors','American Literature','English Literature','ELD Level 1-2','ELD Level 3','ELD Level 4','ELD Level 5','Lit for Success','Human Geography','World History','US History','American Government','Economics','Sociology','Psychology','Integrated Math I','Integrated Math II','Integrated Math II Accelerated','Integrated Math III','Integrated Math III Accelerated','Trigonometry/Statistics','Math Analysis','Math Analysis Honors','Linear Algebra Honors','Intervention Math','Int Math II Concepts','Math Thinking','Biology','Medical Biology','Earth Space Science','Chemistry','Physics','Kinesiology','Physiology','Physiology Honors','Sports Medicine','Health','French 1-2','French 3-4','French 5-6','German 1-2','German 3-4','German 5-6','German 5-6 Honors','Korean 1-2','Korean 3-4','Korean 5-6','Spanish 1-2','Spanish 3-4','Spanish 5-6','AP English Language','AP English Literature','AP European History','AP US History','AP Economics','AP Government/Politics','AP Psychology','AP Human Geography','AP Calculus AB','AP Calculus BC','AP Statistics','AP Biology','AP Chemistry','AP Physics 1','AP Physics 2','AP Physics C','AP Environmental Science','AP French Language','AP German Language','AP Spanish Language (7-8)','AP Spanish Literature (9-10)'], (@subject.name)), { include_blank: 'None'}, class: "form-control" %>
      
      </select><br>
      
      <%= f.label :date %>
      <%= f.text_field :date, class: 'form-control' %><br>
      
      <%= f.label :rate %>
      <%= f.text_field :rate, class: 'form-control' %><br>
  
      <div>
        <p></p>
      </div>
      <div id="center_save_changes"> <%= f.submit "Save", class: "btn btn-primary" %> </div>
     
      <div>
        <p>
        </p>
      </div>
      
      
    <% end %>

    
  </div>
</div>
</div>
</body>