<% provide(:title, "Create Subject") %>
       <!--   % if logged_in? %> -->
	
	

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studygroup">Study Group</a>
        </li>
        
        <!--<li class="nav-item">-->
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
            <li class = "dropdown-item"><%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
        
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", '#', method: :delete %>
            </li>
          </ul>
      </ul>
      </nav>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
      </ul>
    </div>
</nav>
<!--<h1 id="martin"><div style="background-color:lightgrey; opacity: 0.96; text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 83% 0% -1%; border-radius:25px;"> Create a subject</h1></div>-->

<div class="large_content" id="createsubjectlargecontent">
		<div class="container">
			<h1 id="createsubjecth1">Create a Subject</h1>
		</div>
</div>
<!--<h1 id="martin"><div style="background-color:lightgrey; opacity: 0.96; text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 75% 0% -1%; border-radius:25px;"> Create a subject</h1></div>-->



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subject, url: subjectcreate_path) do |f| %>
      <%= render 'shared/error_messages_subject' %>

<div style=" text-align:left; vertical-align: middle; padding:15px 15px; margin: 1% 5%% 0% -1%; border-radius:25px;">
      <%= f.label :subject %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :date %>
      <%= f.text_field :date, class: 'form-control' %><br>
      
      <%= f.label :Subject %>
      <select class="form-control">
        <option>English 9</option>
        <option>English 9 Advanced</option>
        <option>English 10</option>
        <option>English 10 Honors</option>
        <option>American Literature</option>
        <option>AP English Language</option>
        <option>English Literature</option>
        <option>AP English Literature</option>
        <option>ELD Level 1-2</option>
        <option>ELD Level 3</option>
        <option>ELD Level 4</option>
        <option>ELD Level 5</option>
        <option>Lit for Success</option>
        <option>Human Geography</option>
        <option>World History</option>
        <option>AP European History</option>
        <option>US History</option>
        <option>AP US History</option>
        <option>American Government</option>
        <option>Economics</option>
        <option>AP Economics</option>
        <option>AP Government/Politics</option>
        <option>AP Psychology</option>
        <option>Sociology</option>
        <option>Psychology</option>
        <option>AP Human Geography</option>
        <option>Integrated Math I</option>
        <option>Integrated Math II</option>
        <option>Integrated Math II Accelerated</option>
        <option>Integrated Math III</option>
        <option>Integrated Math III Accelerated</option>
        <option>Trigonometry/Statistics</option>
        <option>Math Analysis</option></option>
        <option>Math Analysis Honors</option>
        <option>AP Calculus AB</option>
        <option>AP Calculus BC</option>
        <option>AP Statistics</option>
        <option>Linear Algebra Honors</option>
        <option>Intervention Math</option>
        <option>Int Math II Concepts</option>
        <option>Math Thinking</option>
        <option>Biology</option>
        <option>Medical Biology</option>
        <option>Earth Space Science</option>
        <option>Chemistry</option>
        <option>Physics</option>
        <option>Kinesiology</option>
        <option>Physiology</option>
        <option>Physiology Honors</option>
        <option>AP Biology</option>
        <option>AP Chemistry</option>
        <option>AP Physics 1</option>
        <option>AP Physics 2</option>
        <option>AP Physics C</option>
        <option>AP Environmental Science</option>
        <option>Sports Medicine</option>
        <option>Health</option>
        <option>French 1-2</option>
        <option>French 3-4</option>
        <option>French 5-6</option>
        <option>AP French Language</option>
        <option>German 1-2</option>
        <option>German 3-4</option>
        <option>German 5-6</option>
        <option>German 5-6 Honors</option>
        <option>AP German Language</option>
        <option>Korean 1-2</option>
        <option>Korean 3-4</option>
        <option>Korean 5-6</option>
        <option>Spanish 1-2</option>
        <option>Spanish 3-4</option>
        <option>Spanish 5-6</option>
        <option>AP Spanish Language (7-8)</option>
        <option>AP Spanish Literature (9-10)</option>
      </select><br>
      
      <%= f.label :rate %>
      <%= f.text_field :rate, class: 'form-control' %><br>
  
      <div>
        <p></p>
      </div>
      <div id="center_save_changes"> <%= f.submit "Save", class: "btn btn-primary" %> </div>
     
      <div>
        <p>
        </p>
      </div>
      
      
    <% end %>

    
  </div>
</div>
</div>
</body>