<% provide(:title, "Forgot Password") %>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  <script src="jquery-3.3.1.min.js"></script>
</head>

	<%= render 'layouts/header' %>
<div class="large_content" style="background-position: 30% 37%">
  <h1>Request Password Reset</h1>
</div>

<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <%= form_for(:password, url: forgotPassword_path) do |f| %>
       
      <%= f.label :email, "Email address of the account you want to reset the password for:"  %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <div>
        <p></p>  <!-- Intentionally left blank to add space before the log in button -->
      </div>
      <%= f.submit "Send reset request", class: "btn btn-primary", id: "specialanimatedbutton" %>
    <% end %>
    <br>
  </div>

</body>