
<% provide(:title, 'Register') %>
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="hmenu" onclick="openNav()">
          	<div class="hmenu"> </div>
          	<div class="hmenu"> </div>
          	<div class="hmenu"> </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href="/about">About</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
        </ul>
      <a class="navbar-brand" href="index.html">CV Enterprises</a>
      </div>
    </nav>
<div class="large_content">
  <h1> Sign Up</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:tutee) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :grade %>
      <select class = "form-control" name="Contact[email_provider]">
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Re-enter password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    