 <footer class="footer">
      <small>
<<<<<<< HEAD
        The tutor app by me.
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
</footer>
=======
        Tutor app made by students.
      </small>
      <nav>
        <ul>
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About",   about_path %></li>
        </ul>
      </nav>
</footer>
>>>>>>> 2e8f54c59f412c13620ed903bfe8678d1e5649c4
